<c-cta-section />
<footer class="py-8 bg-dark-bg text-white">
  <div class="container">
    <div class="flex items-center justify-between">
      <a routerLink="/">
        <img src="/logo-white.svg" alt="Cairo Code Studio Logo" class="h-14" />
      </a>
      <ul class="flex items-center gap-4">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/services">Services</a>
        </li>
        <li>
          <a routerLink="/portfolio">Portfolio</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
      <c-social-icons />
    </div>
  </div>
</footer>
