<div class="flex flex-col py-8 md:py-16 overflow-hidden">
  <div class="container flex-1 flex flex-col">
    <div class="flex items-center justify-between flex-col-reverse md:flex-row">
      <div class="flex-1 max-md:mt-8">
        <h1 class="flex flex-col gap-2 text-6xl! title-with-dash">
          <span class="text-primary-500 leading-[1.2]">Built on Experience. Driven by Trust</span>
        </h1>
        <p class="text-surface-500 text-lg mt-6">
          A software team turned agency helping businesses grow with passion, commitment, and expert
          execution.
        </p>
        <p-button
          label="Learn More"
          text="true"
          styleClass="mt-6 p-button-custom-text"
          icon="pi pi-chevron-circle-right"
          iconPos="right"
          routerLink="/about"
        />
      </div>
      <figure
        class="overflow-hidden rounded-3xl max-w-2xl"
        animate.enter="animate__animated animate__fadeInRight"
      >
        <img
          ngSrc="images/hero-img.jpg"
          width="672"
          height="448"
          alt="Cairo Code Studio Hero Image"
          priority
        />
      </figure>
    </div>
    <div class="flex md:items-center flex-col md:flex-row gap-4 mt-16 md:mt-32">
      <h2 class="min-w-72 md:max-w-72">
        Clients <i class="pi pi-heart-fill text-2xl mx-1 text-primary-500 align-middle"></i> we're
        proud we've worked with
      </h2>
      <div class="md:border-s md:border-surface-50 md:ps-8">
        <c-scroll-container>
          <div class="flex gap-12 items-center">
            <img
              ngSrc="images/clients/king-faisal-hospital.png"
              alt="king-faisal-hospital Logo"
              width="200"
              class="h-14"
              height="56"
            />
            <img
              ngSrc="images/clients/national-elearning-center.webp"
              alt="national elearning center Logo"
              class="h-14"
              width="200"
              height="56"
            />
            <img
              ngSrc="images/clients/ceel.svg"
              alt="ceel Logo"
              class="h-14"
              width="200"
              height="56"
            />
            <img
              ngSrc="images/clients/battlebards.png"
              alt="battlebards Logo"
              width="200"
              class="h-14"
              height="56"
            />
            <img
              ngSrc="images/clients/thkee.svg"
              alt="thkee Logo"
              width="200"
              class="h-14"
              height="56"
            />
            <img
              ngSrc="images/clients/sanssapien.png"
              alt="sanssapien Logo"
              class="h-14"
              width="200"
              height="56"
            />
            <img
              ngSrc="images/clients/amplifai.png"
              alt="amplifai Logo"
              width="200"
              class="h-14"
              height="56"
            />
            <img
              ngSrc="images/clients/evento.svg"
              alt="evento Logo"
              width="200"
              class="h-14"
              height="56"
            />
            <img
              ngSrc="images/clients/facegraph.svg"
              alt="facegraph Logo"
              width="200"
              class="h-14"
              height="56"
            />

            <img
              ngSrc="images/clients/secugile.png"
              alt="secugile Logo"
              width="200"
              class="h-14"
              height="56"
            />

            <img
              ngSrc="images/clients/jest.svg"
              alt="jest Logo"
              width="200"
              class="h-14"
              height="56"
            />
          </div>
        </c-scroll-container>
      </div>
    </div>
  </div>
</div>

<c-home-section title="Our Services">
  <div class="grid grid-cols-[repeat(auto-fill,minmax(400px,1fr))] gap-6 w-full">
    @for (service of services(); track service.title) {
    <c-service-item [service]="service" />
    }
  </div>
  <div class="flex justify-center">
    <p-button
      label="Check Our Services"
      text="true"
      styleClass="p-button-custom-text"
      icon="pi pi-chevron-circle-right"
      severity="contrast"
      iconPos="right"
      routerLink="/services"
    />
  </div>
</c-home-section>
<c-home-section title="Our Portfolio" class="bg-gray-100" containerClass="max-w-full!">
  <div class="container">
    <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6 w-full">
      @for (portfolio of portfolio(); track portfolio.id) {
      <c-portfolio-item [portfolio]="portfolio" />
      }
    </div>
    <div class="flex justify-center mt-6">
      <p-button
        label="Check Our Portfolio"
        text="true"
        styleClass="p-button-custom-text"
        icon="pi pi-chevron-circle-right"
        severity="contrast"
        iconPos="right"
        routerLink="/portfolio"
      />
    </div>
    <!-- <c-scroll-container class="min-w-0 block w-full" [scrollValue]="400">
      <div class="flex gap-8">
        @for (portfolio of portfolio(); track portfolio.id) {
          <c-portfolio-item [portfolio]="portfolio" />
        }
      </div>
    </c-scroll-container> -->
  </div>
</c-home-section>

<c-home-section title="Out Trusted Clients">
  <div class="container">
    <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6 w-full">
      @for (testimonial of testimonials(); track testimonial.id) {
      <c-testimonial-item [testimonial]="testimonial" />
      }
    </div>
  </div>
</c-home-section>
