@import './tailwind.css';


body {
  @apply text-base antialiased font-inter;
}


h1, h2, h3, h4, h5, h6 {
  @apply font-antonio;
}

[class*="hover:"] {
  @apply transition-colors duration-300;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}
