@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --color-dark-bg: #1b1b1f;
  --font-antonio: 'Antonio', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@utility container {
  @apply max-w-7xl mx-auto px-4;
}


@utility title-with-dash {
  @apply relative;
  &::before {
    content: '';
    @apply absolute bottom-0 left-0 w-1/3 h-0.5 bg-current;
  }
}
