<div class="h-full flex flex-col bg-white rounded-2xl p-4 border border-surface-50">
  <a [href]="portfolio().link" target="_blank">
    <img
      [ngSrc]="portfolio().image"
      width="368"
      height="207"
      [alt]="portfolio().title"
      class="w-full aspect-video object-cover rounded-2xl"
    />
  </a>
  <h3 class="mt-4">{{ portfolio().title }}</h3>
  <p class="mt-2 mb-4 text-sm">{{ portfolio().description }}</p>
  <div class="flex items-center gap-2 mt-auto">
    <!-- <p-button
      label="View Project"
      text="true"
      class="flex-1"
      icon="pi pi-eye"
      styleClass="w-full "
      [routerLink]="portfolio().routerLink"
    /> -->
    @if (portfolio().link) {
    <a
      [href]="portfolio().link"
      target="_blank"
      pButton
      severity="secondary"
      class="flex-1"
      icon="pi pi-external-link"
      [text]="true"
      >Check Live</a
    >
    }
  </div>
</div>
